*{
    font-family: ProximaNova;
  }
  .options {
      text-align: center;
      padding-top: 80px;
      background: #2b1e16;
      padding-bottom: 60px;
      margin-left:0;
    }
  .opt-div1
    {
      font-size: 20px;
      font-weight: 600;
      margin-top:20px;
      color: #fff;
      display:block;
      
    }
    .opt-img1
    {
      margin-left:145px;
      height:200px;
      width:auto;
     
    }
  .opt-div2
  {
    font-size:15px;
      width: 260px;
      margin-top: 10px;
      color: #e0cbc1;
      line-height: 1.3;
      margin-left:70px;
      letter-spacing:0;
  }
  .opt-img3
  {
    margin-left:20px;
    height:200px;
    width:auto;
  }
  
